html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: #e6fffa; */
  background-color: #38b2ac;
  text-align: center;
  color: #000;
  /* border-top: 1px solid #38b2ac; */
}

.footer > ul {
  list-style-type: none;
}

.footer > ul > li {
  display: inline;
  padding-right: 10px;
}

.footer > ul > li > a {
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
